/* шрифты всегда нужно подключать отдельным файлом */

/* V1 */
@font-face {
  font-family: 'Dancing Script';
  /* Браузер сначала попробует найти шрифт локально */
  src: local('Dancing Script Regular'),
  local('DancingScript-Regular'),
    /* Если не получилось, загрузит woff2 */ url('fonts/Dancing_Script/transfonter/DancingScript-Regular.woff2') format('woff2'),
    /* Если браузер не поддерживает woff2, загрузит woff */ url('fonts/Dancing_Script/transfonter/DancingScript-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* V2 */
/*@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');*/
