/*
Общая инфа!
@info: Единицы измерения в CSS = https://techrocks.ru/2019/08/07/units-in-css-for-beginners/
@info: Краткая запись CSS как антипаттерн = http://prgssr.ru/development/kratkaya-zapis-css-kak-antipattern.html
@info: Шрифты = http://htmlbook.ru/blog/svoi-shrift-na-stranitse
 1) https://habr.com/ru/company/htmlacademy/blog/552388/
 2) https://snipp.ru/html-css/font-face



Теорию что такое БЕМ :
БЛОК - ето елемент страници который может быть копирован в любое место страници, без искажения стилей внутри.
       блоки могут вкладыватся друг в друга.
ЕЛЕМЕНТ - строго пренадлежит БЛОКу внутри которого он находится. Елемента за блоком быть не может.
МОДИФИКАТОР - класс который будет изменять повидение ЕЛЕМЕНТов и БЛОКов и неважно где.
следовательно

СЛЕДОВАТЕЛЬНО нужно строить дерево css классов в HTMLе.
 К примеру такая структура в HTML :
краткая запись (сделана для Emmet плагина. Вставить в HTML и нажать ТАБ):
  ``` .header>.header__logo>.header__icon+.header__title^+.header__menu.menu>.menu__item*4>.menu__icon+.menu__title ```
развернутая запись : ```
    <div class="header">
        <div class="header__logo">
            <div class="header__icon"></div>
            <div class="header__title"></div>
        </div>
        <div class="header__menu menu">
            <div class="menu__item">
                <div class="menu__icon"></div>
                <div class="menu__title"></div>
            </div>
            <div class="menu__item">
                <div class="menu__icon"></div>
                <div class="menu__title"></div>
            </div>
            <div class="menu__item">
                <div class="menu__icon"></div>
                <div class="menu__title"></div>
            </div>
            <div class="menu__item">
                <div class="menu__icon"></div>
                <div class="menu__title"></div>
            </div>
        </div>
    </div>
```
В данном примере:
header и menu --- Ето Блоки
menu__item / menu__title / menu__icon --- Елементы блока "menu"
header__logo / header__icon / header__menu  --- Елементы блока "header"
МОДИФИКАТОРы - я неприводил в пример, для начала нужно освоить такую структуру.

*/

:root {
  /* @Info
   1) https://developer.mozilla.org/en-US/docs/Web/CSS/var()
   2) https://developer.mozilla.org/ru/docs/Web/CSS/Using_CSS_custom_properties
   */
  --color-Red: Red;
  --color-Brown: Brown;
  --color-Orange: Orange;
  --color-Yellow: Yellow;
  --color-Lime: Lime;
  --color-Green: Green;
  --color-cadetblue: cadetblue;
  --color-Cyan: Cyan;
  --color-Blue: Blue;
  --color-Pink: Pink;
  --color-Violet: Violet;
  --color-Purple: Purple;
  --color-Indigo: Indigo;
  --color-Black: Black;
  --color-White: White;
}

body{
  background-image: url("../img/cosmos.jpeg");
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main {
  display: inline-block;
  position: relative;
  border: 1px solid var(--color-Lime);
  box-sizing: border-box;

  .earth{
    width: 300px; /* от фанаря кхммм... Звезды */
    //outline: solid 1px var(--color-Pink); // просто контур границ
    position: relative;
    margin: 100px; /* просто для резервирования пространства для луны */
    z-index: 1;
  }
  .moon{
    width: 100px;
    position: absolute; /* тому что должна смещатся */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* центрирование*/
    animation: 10s linear 0s infinite orbita;
    z-index: 0;
  }

  @keyframes orbita {
    0%{
      width: 40px;
      transform: rotate(0deg);
    }
    24%{
      z-index: 0;
    }
    25%{
      left: 83%;
      top: 25%;
      z-index: 2;
      width: 70px;
    }
    50%{
      top: 51%;
      left: 51%;
      width: 180px;
    }
    74%{
      z-index: 2;
    }
    75%{
      z-index: 0;
      left: 17%;
      top: 75%;
      width: 70px;
    }
    100%{
      width: 40px;
      transform: rotate(360deg);
    }
  }
}

































