:root {
    /* @Info
     1) https://developer.mozilla.org/en-US/docs/Web/CSS/var()
     2) https://developer.mozilla.org/ru/docs/Web/CSS/Using_CSS_custom_properties
     */
    --btn-active-color-bg: #FF9900;
    --btn-active-color-text: #fff;
    --btn-default-color-border: #BCD0E5;
    --btn-default-color-text: #000;
}

header, main, footer {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

header {
    display: block;
    width: 100%;
    padding: 0 100px;
    box-sizing: border-box;
}

header .header--logo {
    font-size: 40px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header nav {
    display: inline-block;
    float: right;
    font-size: 0;
}

header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

header nav .header--btn {
    display: inline-block;
    margin-left: 15px;
    font-size: 30px;
}

header nav .header--btn .header-sing-in,
header nav .header--btn .header-sing-up {
    font-size: 16px;
    padding: 10px 15px;
    text-transform: capitalize;
    font-weight: bold;
    background: transparent;
    border-radius: 5px;
    border: 1px solid var(--btn-default-color-border);
}

header nav .header--btn .active {
    background: var(--btn-active-color-bg);
    color: var(--btn-active-color-text);
}

main section, footer {
    padding: 0 100px;
    box-sizing: border-box;
}

/* First screen */
main .home {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

main .home svg {
    width: 50%;
}

main .home .home--left {
    font-family: 'Poppins';
    width: 50%;
}

main .home .home--left .title {
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
    margin: 70px 0 40px
}

main .home .home--left .description {
    font-size: 25px;
    line-height: 1.9rem;
    color: #544837;
    margin: 25px 0 50px;
}

main .home .home--left .btn {
}

/*todo: как применить глобально стили для всех кнопок на странице ?*/
main .home .home--left .btn .get-started {
    font-size: 16px;
    padding: 14px 41px;
    text-transform: capitalize;
    font-weight: bold;
    background: var(--btn-active-color-bg);
    color: var(--btn-active-color-text);
    border: 1px solid var(--btn-default-color-border);
    border-radius: 5px;
}

/*main .home .home--left .btn a {}*/
main .home .home--left .btn .btn--watch_the_video {
    margin: 0 20px 0;
    display: inline-block;
    position: relative;
}

main .home .home--left .btn .btn--watch_the_video .arrow {
    display: inline-block;
    width: 0;
    height: 0;
    font-size: 16px;
    border-left: 16px solid var(--btn-active-color-bg);
    border-right: 0 solid transparent;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-radius: 2px;
    position: absolute;
    top: -2px;
    left: 0;
}

main .home .home--left .btn .btn--watch_the_video .name {
    font-size: 16px;
    color: var(--btn-active-color-bg);
    text-decoration: underline var(--btn-active-color-bg);
    font-weight: bold;
    padding-left: 25px;
}


/* Second screen */
main .feature {
}

main .feature .title {
}

main .feature .description figure {
    display: inline-block;
    width: 24%;
}

main .feature .description figure svg {
}

main .feature .description figure figcaption {
}

main .feature .description figure figcaption h4 {
}

main .feature .description figure figcaption p {
}