.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.header__subtitle {
  font-size: 12px;
  letter-spacing: 5px;
  color: #898f99;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: right;
}

.header__title {
  font-size: 48px;
  color: #0ec8cb;
  font-weight: bold;
  font-family: "Montserrat";
  text-align: right;
}

.header__description {
  width: 513px;
  height: 65px;
  font-size: 18px;
  color: #999999;
  font-weight: 400;
  font-family: "PT Sans";
  text-align: center;
}


.content {
  /*display: inline-block;*/
  display: table;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
  font-size: 0;
}

.content__item {
  /*display: inline-block;*/
  display: table-cell;
  box-sizing: border-box;
  vertical-align: top;
  width: 25%;
  padding: 10px 25px;
  align-items: center;
  background-color: #f7f7f7;
  border: 1px solid #ececec;

}

.content__item:hover {
  background-color: #0ec8cb;
  border: 1px solid #0ec8cb;
  transition: all ease-in 200ms;
}

.content__item:hover .card__text {
  color: white;
}

.content__item:hover .card__header {
  color: white;
}

.content__item:hover .card__img .shp0 {
  fill: white;
}

.card {
}

.card__img {
  display: block;
  width: auto;
  height: 64px;
  margin: 55px auto;
}

.card__header {
  font-size: 21px;
  color: #1b1b1b;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 30px;
}

.card__text {
  font-size: 14px;
  color: #777777;
  font-weight: 400;
  font-family: "PT Sans";
  text-align: center;
  width: 80%;
  margin: 30px auto 60px;
}
