.main {
  width: 100%;
  background-color: #fdde7e;
  font-size: 0;
  padding: 20px;
  box-sizing: border-box;

  /* flex */
  display: flex;
  justify-content: space-around;
}

.coffee {
  display: inline-block;
  box-sizing: border-box;
  width: 31.333%;
  margin: 80px 1%;
  padding: 50px 0;
  background-color: #fff;
  box-shadow: 1px 2px 5px black;
  transition: all ease-in 150ms;


  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.coffee__price {
  display: block;
  width: 100%;
  font-size: 70px;
  color: #02995b;
  font-weight: bold;
  text-align: center;
}

.coffee__img {
  width: auto;
  height: 135px;
  display: block;
  margin: 0 auto;
}

.coffee__title {
  font-size: 56px;
  color: #333333;
  text-align: center;
}

.coffee__description {
  font-size: 40px;
  color: #333333;
  text-align: center;
}

.coffee:hover {
  margin: 20px 1%;
}

